<div class='container'>
  <h1 class='mt-4'>首頁</h1>
  <div
    class='photo-container d-flex justify-content-center justify-content-center mt-4'
  >
    <a href='https://imgflip.com/i/5l5gli'>
      <img src='https://i.imgflip.com/5l5gli.jpg' class='mt-2' />
    </a>
  </div>
</div>